.chat {

    display: flex;
    flex-direction: column;
    .header {
        padding: 30px;
        border-bottom: 1px solid rgb(68, 68, 68);
    }
    
    .top {
        padding: 20px;
        display: flex;
        align-items: flex-start; /* Changed from center to allow vertical arrangement */
        justify-content: space-between;
        border-bottom: 5px solid rgb(68, 68, 68);
    }
    
    .user {
        display: flex; /* Ensure it's a flex container */
        flex-direction: column; /* Stack children vertically */
    }
    
    .user-info {
        display: flex; /* Make this a flex container too */
        align-items: center; /* Vertically center items in this row */
        gap: 20px; /* Space between avatar and name */
    }
    
    .time {
        font-size: 10px;
    }
    .user img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
    }
    
    .groupinfo {
        margin-top: 10px; /* Add space between name and topic */
    }
    
    
      
      button img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
      }
    .center {
        padding: 20px;
        flex: 1;
    }
    .bottom {
        padding: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        margin-top: auto;
        border-top: 1px solid rgb(68, 68, 68);
        .icons {
            display: flex;
            align-items: center;
            img {
                width: 24px;
                height: 24px;
                cursor: pointer;
                object-fit: contain;
            }
        }
        
        input {
            flex: 1;
            background-color: rgb(68, 68, 68);
            border: none;
            outline: none;
            color: white;
            border-radius: 10px;
            padding: 12px;    
        }
    
        .emoji {
            position: relative;
    
            .picker{
                position: absolute;
                bottom: 50px;
                left: 0;
            }
        }
        .send-button {
            padding: 0;
            background: none;
            border: none;
            cursor: pointer;
            overflow: hidden;
            width: 40px;  /* Adjust based on desired size */
            height: 40px; /* Adjust based on desired size */
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    
    
    
    
    
    
    
}
