.chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: rgb(40, 40, 40);
    color: white;
}

.chat .header {
    padding: 30px;
    border-bottom: 1px solid rgb(68, 68, 68);
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 5px solid rgb(68, 68, 68);
}

.chat .user {
    display: flex;
    flex-direction: column;
}

.chat .user-info {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .time {
    font-size: 10px;
}

.chat .user img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .groupinfo {
    margin-top: 10px;
}

.chat button img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.chat .center {
    padding: 20px;
    flex: 1;
}

.chat .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: auto;
    border-top: 1px solid rgb(68, 68, 68);
}

.chat .bottom .icons {
    display: flex;
    align-items: center;
}

.chat .bottom .icons img {
    width: 24px;
    height: 24px;
    cursor: pointer;
    object-fit: contain;
}

.chat .bottom input {
    flex: 1;
    background-color: rgb(68, 68, 68);
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    padding: 12px;
}

.chat .bottom .emoji {
    position: relative;
}

.chat .bottom .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.chat .bottom .send-button {
    padding: 0;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
} 